body {
  margin-top: 100px;
  height: 100vh;
  background: #ebc05e;
}
#clock {
  text-align: center;
  margin: auto;
  border: 5px outset #374236;
  border-radius: 2%;
  width: 700px;
  height: 150px;
  font-size: 120px;
  background-color: #dc900f;
  letter-spacing: 2px;
  font-family: Tahoma;
  font-variant-numeric: diagonal-fractions;
  color: #351f14;
}
footer {
  text-align: center;
  margin: 350px auto;
  font-style: italic;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 100px;
  color: #351f14;
}
